.main_text {
  font-weight: 700;
  font-size: 70px;
  line-height: 75px;
  width: 650px;
}

.main_subtext {
  font-size: 26px;
  line-height: 40.5px;
  width: 710px;
  margin-bottom: 80px;
}

.see_more_button {
  font-weight: 700;
  color: white;
  border-radius: 12px;
  display: inline-block;
  padding: 20px 15px;
  font-size: 18px;
  margin-bottom: 400px;
}