@import "../../Typography.module";

.circle {
  position: relative;
  background: rgba(165, 153, 250, 0.1);
  z-index: -1;
  display: none;

  &s_wrapper {
    width: 0;
    height: 0;
    margin: 0 auto;

    @media only #{$media} and ($feature: $value) {
      & {
        display: none;
      }
    }
  }

  &_1 {
    width: 1300px;
    height: 1300px;
    border-radius: 100%;
    top: -900px;
    left: -1600px;
  }

  &_2 {
    width: 700px;
    height: 700px;
    border-radius: 100%;
    top: -1300px;
    left: 600px;
  }

  &_3 {
    width: 700px;
    height: 1000px;
    border-radius: 300px;
    top: -900px;
    left: -1300px;
  }
}
